<head>
	<meta charset="utf-8">
	<title></title>
<!-- 	<link href="css/bootstrap.css" rel="stylesheet"> -->
</head>
<header id="header">
	<a href="#" style="padding: 15px" class="btn page-link text-dark d-inline-block btn-lg btn-block">
		<font size="7">カラオケばっちこい！</font>
	</a>
	<div class="link_top">
		<button type="button" style="padding: 20px 100px; margin-bottom: 40px; " class="btn page-link text-dark d-inline-block btn-lg center-block"><p style="margin: 0;"class="text-primary">管理者トップページへ</p>
		</button>
	</div>
</header><!-- /header -->
<body>
	<div class="container">
		<div class="row">
			<div class="offset-*-2">
				<h1>ユーザー一覧</h1>
				<div class="admin-users-index-box clearfix">
					<div class="admin-users-info-box">
						<div class="boxboxbox clearfix">
							<div class="name-box">名前</div>
							<div class="name-text-boxbox clearfix">
								<div class="name-text-box"></div>
								<div class="name-text-box"></div>
							</div>
							<div class="postal_code-box">〒</div>
						</div>
						<div class="E-T-P-boxbox">
							<div class="E-T-P-box">Email</div>
							<div class="E-T-P-box">TEL</div>
							<div class="E-T-P-box">Password</div>
						</div>
						<div class="E-T-P-text-boxbox">
							<div class="E-T-P-text-box"></div>
							<div class="E-T-P-text-box"></div>
							<div class="E-T-P-text-box"></div>
						</div>
						<div class="addresses-box"></div>
					</div>
					<div class="btn-group-vertical" style="margin: -140px 11px 60px 498px;" role="group">
					<button type="button" style="padding: 6px 20px; background-color: red;
					margin-bottom: 10px;" class="btn page-link text-dark d-inline-block">購入履歴</button>
					<button type="button" style="padding: 6px 20px; background-color: green;
					margin-bottom: 10px;" class="btn page-link text-dark d-inline-block">編集</button>
					<button type="button" style="padding: 6px 20px; background-color: blue;
					margin-bottom: 10px;" class="btn page-link text-dark d-inline-block">削除</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>