<table class="table table-bordered my-3"">
		<tr>
		<th>購入者</th>
		<td>徳川家康</td>
		</tr>
		<tr>
		<th>購入日</th>
		<td>2019/05/21 14:30</td>
		</tr>
		<tr>
		<th>購入内容</th>
		<td>
			<ul>
				<li>クリスマスソング</li>
				<li>購入枚数：1枚</li>
				<li class="text-right">小計：2,980円</li>
				<div class="hr my-3"><hr></div>
				<li class="text-right">合計金額：2,980円</li>
			</ul>
		</tr>
		<tr>
		<th>送付先</th>
		<td>愛知県岡崎市康生町 岡崎城</td>
		</tr>
		<tr>
		<th>ステータス</th>
		<td>
			<!-- プログレスバー -->
			<div class="progress my-1">
			  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">受付</div>

			  <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">商品準備中</div>

			  <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">出荷済</div>

			  <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">キャンセル</div>
			</div>
			<!-- プログレスバー -->
			<div class="col-12">その他：</div>
		</td>
		</tr>
	</table>