<%=form_for @label,:url =>'product_path' do |f| %>
    <h3>商品の新規追加</h3>
    <div class="card p-3">
      <div class="form-group">

              <div class="form-group mt-3">
                <label for="inputsabel">レーベル名</label>
                <%= f.text_field :label_name, placeholder: "レーベル名", class: "pl-2" %>
<!--                  <input type="text" class="form-control" id="inputLabel" placeholder="レーベル名"> -->
              </div>


          <%=f.fields_for :artists do |artist| %>
          <!-- <%#= attachment_image_tag book.user, :image, :fill, 100, 100, format: 'jpeg',fallback: "no_image.jpg", :size =>"50x50" %> -->
          <!-- <input type="file" class="form-control-file" id="File"> -->
          <div class="form-group">
            <label for="inputArtists">アーティスト名</label>
            <%= artist.text_field :artist_name, placeholder: "アーティスト名", class: "pl-2" %>
          </div>
          <% end %>
<% end %>