.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.box{
	border-style: groove;
	height: 300px;
	margin-bottom: 30px;
}
.jacket-box{
	float: left;
	width: 40%;
	height: 300px;
}
.type-name{
	padding-top: 50px;
	padding-left: 50px;
}
.jacket-jpg{
	float: right;
	width: 150px;
	height: 150px;
	border-style: groove;
}
.product-content-box{
	float: right;
	width: 60%;
	height: 300px;
	padding-left: 20px;
	padding-top: 70px;
}
.product-content-box p{
	margin-bottom: 10px;
}
.box2{
	border-style: groove;
	height: 120px;
	margin-bottom: 30px;
	padding: 10px;
}
.box2 p{
	margin-bottom: 10px;
}
.song-name-box{
	border-style: groove;
	height: 300px;
	margin-bottom: 30px;
	padding-left: 20px;
}
.song-name-box h3{
	padding-left: 5px
}
.product-content-box2{
	border-style: groove;
	height: 100px;
	margin-bottom: 30px;
	padding: 10px;
}
.staff-comment{
	border-style: groove;
	height: 100px;
	margin-bottom: 30px;
	padding: 10px;
}
.link_top{
 	text-align: center;
 }