/*囲み枠*/
.box {
	border: 2px solid #DDD;
}
.box:nth-child(2n) {
	border: 2px solid #DDD;
	background-color: #efefef;
}
.box-jacket img {
	width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 200px;
}