<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">


    <title>カラオケばっちこい！</title>
  </head>




  <body>
    <div class="container" style="width:800px;">
      <div class="text-center"><img src="usertop_index_image.jpg" class="img-fluid" alt="Responsive image"></div>
        <!-- 上記のは画像 -->

       <!-- 下記はカラオケ人気曲順です -->
      <table class="table table table-bordered my-3">
        <thead>
          <tr>
            <th scope="col-xs-3">順位</th>
            <th scope="col-xs-3">曲名</th>
            <th scope="col-xs-3">アーティスト名</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>曲名</td>
            <td>アーティスト名</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>曲名</td>
            <td>アーティスト名</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>曲名</td>
            <td>アーティスト名</td>
          </tr>
        </tbody>
      </table>


        <!-- 下記は歌いやすい曲ランキングベスト５（ベタ打ち？）です。
        <div class="ranking">
          <h4>20代男性が歌いやすいカラオケ曲ベスト5</h4>
        <!-- コピペのため省略 -->

        </div><!-- container -->
  



    　　<footer>
          <!-- /header は部分テンプレのため省略-->
        </footer>


  </div>



    

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>




