<header>
  <nav class="bg-warning sticky-top p-2 text-center"><a class="text-light" href="#">カラオケばっちこい！</a></nav>
</header>
<!-- 未ログイン時 -->
<ul class="nav-menu clearfix">
  <a href="#" class="nav-text"><li class="nav-list"><%= image_tag 'cart.png'%><br>カート</li></a>
  <a href="#" class="nav-text"><li class="nav-list"><%= image_tag 'login.png'%><br>ログイン</li></a>
  <a href="#" class="nav-text"><li class="nav-list"><%= image_tag 'mypage.png'%><br>新規登録</li></a>
  <!-- ログイン時
  <a href="#" class="nav-text"><li class="nav-list"><%= image_tag 'mypage.png'%><br>マイページ</li></a>
 -->
</ul>