<p>ようこそ、ゲスト様</p>

<!-- <div class="input-group col-12 mb-3">
	<input type="text" class="form-control" placeholder="曲・アーティストを探す">
	<span class="input-group-btn">
		<button type="submit" class="btn btn-outline-secondary">検索</button>
	</span>
</div> -->




